.timeline .brush-background {
  fill: rgba(0, 0, 0, 0.05); }

.timeline .brush .selection {
  fill: rgba(0, 0, 0, 0.1);
  stroke-width: 1px;
  stroke: #888888; }

.timeline .brush .handle {
  fill-opacity: 0; }

.timeline .embedded-chart {
  opacity: 0.6; }
