.sw-popover {
  position: absolute;
  background: #fff;
  color: #999;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  z-index: 5000;
  opacity: 0;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.19);

  -webkit-box-shadow: 3px 3px 5px 0px rgba(65, 73, 81, 0.14);
  -moz-box-shadow: 3px 3px 5px 0px rgba(65, 73, 81, 0.14);
  box-shadow: 3px 3px 5px 0px rgba(65, 73, 81, 0.14);

  h1, h2, h3, h4, h5, h6 {
    color: #272e33;
  }

  .popover-caret {
    position: absolute;
    z-index: 5001;
    width: 0;
    height: 0;

    &.caret-left {
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid #FFF;
    }

    &.caret-top {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #fff;
    }

    &.caret-right {
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid #FFF;
    }

    &.caret-bottom {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #FFF;
    }
  }

  header {
    padding: 15px 20px;
    h1 {
      font-size: 16px;
      font-weight: 600;
      margin: 0;
    }

    a, a:hover, a:focus {
      color: #5ea1df;
    }
  }

  p {
    color: #999 !important;
  }

  .list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

    .main-text {
      display: block;
      color: #73777b;
    }

    .sub-text {
      color: #afafaf;
      font-size: 12px;
    }

    li {
      border-top: 1px solid #f1f1f1;
      margin: 0;
      background: #fff;

      .list-link {
        padding: 10px 20px;
        display: block;
        cursor: pointer;
      }

      &:hover {
        background: #eff5fc;
      }
    }

    .inactive, .inactive:hover {
      padding: 10px 20px;
      background: none;
    }
  }
}

.sw-popover-text {
  padding: 10px;
  color: #000;
  font-weight: 600;
  font-size: 12px;
}

.sw-popover-right {
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10, 0, 0);
}

.sw-popover-left {
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
}

.sw-popover-top {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}

.sw-popover-bottom {
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

.sw-popover-animation {
  opacity: 1;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
