.tree-map .treemap-val {
  font-size: 1.3em;
  padding-top: 5px;
  display: inline-block; }

.tree-map .label p {
  display: table-cell;
  text-align: center;
  line-height: 1.2em;
  vertical-align: middle; }
