.swui-tooltip-content {
  position: absolute;
  border-radius: 3px;
  z-index: 5000;
  display: block;
  font-weight: normal;
  opacity: 0; }
  .swui-tooltip-content.type-popover {
    background: #fff;
    color: #060709;
    border: 1px solid #72809b;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    font-size: 13px;
    padding: 4px; }
    .swui-tooltip-content.type-popover .tooltip-caret {
      position: absolute;
      z-index: 5001;
      width: 0;
      height: 0; }
      .swui-tooltip-content.type-popover .tooltip-caret.position-left {
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 7px solid #fff; }
      .swui-tooltip-content.type-popover .tooltip-caret.position-top {
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #fff; }
      .swui-tooltip-content.type-popover .tooltip-caret.position-right {
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 7px solid #fff; }
      .swui-tooltip-content.type-popover .tooltip-caret.position-bottom {
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #fff; }
  .swui-tooltip-content.type-tooltip {
    color: #fff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 12px;
    padding: 4px;
    text-align: center;
    pointer-events: auto; }
    .swui-tooltip-content.type-tooltip .tooltip-caret.position-left {
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 7px solid rgba(0, 0, 0, 0.75); }
    .swui-tooltip-content.type-tooltip .tooltip-caret.position-top {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid rgba(0, 0, 0, 0.75); }
    .swui-tooltip-content.type-tooltip .tooltip-caret.position-right {
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-right: 7px solid rgba(0, 0, 0, 0.75); }
    .swui-tooltip-content.type-tooltip .tooltip-caret.position-bottom {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid rgba(0, 0, 0, 0.75); }
  .swui-tooltip-content .tooltip-caret {
    position: absolute;
    z-index: 5001;
    width: 0;
    height: 0; }
  .swui-tooltip-content.position-right {
    transform: translate3d(10px, 0, 0); }
  .swui-tooltip-content.position-left {
    transform: translate3d(-10px, 0, 0); }
  .swui-tooltip-content.position-top {
    transform: translate3d(0, -10px, 0); }
  .swui-tooltip-content.position-bottom {
    transform: translate3d(0, 10px, 0); }

.ng2d3 {
  float: left; }
  .ng2d3 .bar:hover,
  .ng2d3 .cell:hover,
  .ng2d3 .arc:hover,
  .ng2d3 .card:hover {
    opacity: 0.8; }
  .ng2d3 .area {
    opacity: 0.6; }
  .ng2d3 .circle:hover {
    cursor: pointer; }
  .ng2d3 .tree-map .label p {
    display: table-cell;
    text-align: center;
    line-height: 1.2em;
    vertical-align: middle; }

.label {
  font-size: 12px;
  font-weight: normal; }

.gridline-path {
  stroke: #ddd;
  stroke-width: 1;
  fill: none; }

.a2d3-container {
  height: 100%; }
  .a2d3-container .status-message {
    font-size: 14px;
    text-align: center;
    position: relative;
    top: 43%;
    color: #999; }
  .a2d3-container .icon-loading {
    color: #999;
    font-size: 32px; }

.brush .overlay {
  fill: rgba(0, 0, 0, 0.07); }

.brush .selection {
  stroke: none;
  fill-opacity: .3;
  shape-rendering: 'crispEdges'; }

.brush .handle {
  fill: #3f51b5; }

.tooltip-item {
  text-align: left;
  line-height: 1.2em; }
  .tooltip-item .tooltip-item-color {
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 5px;
    color: #5b646b;
    border-radius: 3px; }

.legend {
  display: inline-block;
  padding: 0; }
  .legend .legend-title {
    color: #76818a;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold; }
  .legend ul, .legend li {
    padding: 0;
    margin: 0;
    list-style: none; }
  .legend .legend-wrap {
    width: 90%; }
  .legend .scale-legend {
    text-align: center; }
  .legend .scale-legend-wrap {
    display: inline-block;
    height: 100%;
    width: 30px;
    border-radius: 5px; }
  .legend .scale-legend-label {
    font-size: 12px; }
  .legend .legend-labels {
    line-height: 85%;
    list-style: none;
    text-align: left;
    float: left;
    width: 100%;
    border-radius: 3px; }
  .legend .legend-label {
    cursor: pointer;
    font-size: 90%;
    margin: 8px;
    color: #76818a; }
    .legend .legend-label.active {
      color: #FFF; }
  .legend .legend-label-color {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 5px;
    color: #5b646b;
    border-radius: 3px; }
  .legend .legend-label-text {
    display: inline-block;
    vertical-align: top;
    line-height: 15px;
    font-size: 12px; }
  .legend .legend-icon {
    color: #4d9df6;
    margin-right: 5px; }
  .legend .legend-title-text {
    vertical-align: bottom;
    display: inline-block;
    line-height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

.advanced-pie {
  float: left; }

.advanced-pie-legend {
  float: left; }
  .advanced-pie-legend .total-value {
    font-size: 36px; }
  .advanced-pie-legend .total-label {
    font-size: 24px;
    margin-bottom: 19px; }
  .advanced-pie-legend .legend-items-container {
    width: 100%; }
    .advanced-pie-legend .legend-items-container .legend-items {
      white-space: nowrap;
      overflow: auto; }
      .advanced-pie-legend .legend-items-container .legend-items .legend-item {
        margin-right: 20px;
        display: inline-block; }
        .advanced-pie-legend .legend-items-container .legend-items .legend-item .item-value {
          font-size: 24px;
          margin-top: -6px;
          margin-left: 11px; }
        .advanced-pie-legend .legend-items-container .legend-items .legend-item .item-label {
          font-size: 12px;
          opacity: 0.7;
          margin-left: 11px;
          margin-top: -6px; }
        .advanced-pie-legend .legend-items-container .legend-items .legend-item .item-percent {
          font-size: 24px;
          opacity: 0.7;
          margin-left: 11px; }
        .advanced-pie-legend .legend-items-container .legend-items .legend-item .item-color {
          width: 4px;
          height: 32px;
          float: left;
          margin-right: 7px; }
