html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

app {
  height: 100%;
}

main {
  justify-content: center;
  height: 100%;

  .chart-col {
    background: #fafafa;
    width: 75%;
    height: 100%;
    float: left;
  }

  .sidebar {
    overflow-y: auto;
    height: 100vh;

    padding: 20px;
    background: #2f3646;
    color: #fff;
    font-size: .6em;
    float: right;
    width: 25%;

    h1 {
      color: #1f89ff;
      font-weight: 100;
      text-transform: uppercase;
      display: block;
      margin-top: 0;

      strong {
        font-weight: 700;
      }

      small {
        display: block;
        font-size: .4em;
        line-height: 1.3em;
        color: white;
      }
    }

    input[type=text],
    select {
      width: 100%;
    }

    h3 {
      padding: 0;
      margin: 10px 0 0 0;
      text-transform: uppercase;
      color: #a8b2c7;
    }

    pre {
      background: #1b1e27;
      font-size: 12px;
      line-height: 1em;
      max-height: 400px;
      overflow: auto;
      padding: 15px;
    }
  }
}

iframe {
  position: absolute;
  top: 10px;
  right: 10px;
}
