<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <meta charset="utf-8">
    <title>ngx-charts - Angular2 and D3js Charting Framework</title>

    <!-- Name of web application (only should be used if the website is used as an app) -->
    <meta name="application-name" content="ngx-charts">

    <!-- Short description of the page (limit to 150 characters) -->
    <meta name="description" content="Angular2 and D3js Data Visualization JavaScript Framework for building composable, re-usable Charts in AngularJS." />

    <!-- Short description of your site's subject -->
    <meta name="subject" content="Angular2 D3 Charting Framework">

    <!-- Very short (10 words or less) description. Primarily for academic papers -->
    <meta name="abstract" content="Angular2 D3 Charting Framework">

    <!-- Crawling: All Search Engines -->
    <meta name="robots" content="index,follow,noodp">

    <!-- Crawling: Google Specific -->
    <meta name="googlebot" content="index,follow">

    <!-- Scaling -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- IE -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="cleartype" content="on">

    <!-- Add to Home Screen: iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Swimlane">

    <!-- Add to Home Screen: Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <style>
      [hidden] {
        display: none !important;
      }
      .social-toolbox {
        position: absolute;
        top: 5px;
        right: 10px;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 75%;
        width: calc(75% - 10px);
      }
      .social-toolbox iframe {
        margin-right: 5px;
      }
      .social-toolbox .addthis_inline_share_toolbox {
        margin-top: 5px;
      }
    </style>
  </head>
<body>
  <div class="social-toolbox">
    <a class="github-button" href="https://github.com/swimlane/ngx-charts" data-style="mega" data-count-href="/swimlane/ngx-charts/stargazers" data-count-api="/repos/swimlane/ngx-charts#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star swimlane/ngx-charts on GitHub">Star</a>
    <div class="addthis_inline_share_toolbox"></div>
  </div>
  <app>Loading...</app>
  <script async defer src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-583eec22a9881701"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <% if (htmlWebpackPlugin.options.googleAnalytics) { %>
    <script type="text/javascript">
      window.GoogleAnalyticsObject='ga';window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      <% if (htmlWebpackPlugin.options.googleAnalytics.trackingId) { %>
      ga('create','<%= htmlWebpackPlugin.options.googleAnalytics.trackingId %>','auto');
      <% } else { throw new Error("html-webpack-template requires googleAnalytics.trackingId config"); } %>
      <% if (htmlWebpackPlugin.options.googleAnalytics.pageViewOnLoad) { %>
      ga('send','pageview')
      <% } %>
    </script>
    <script async defer src="https://www.google-analytics.com/analytics.js" type="text/javascript"></script>
  <% } %>
</body>
</html>
