.a2d3 {
  float: left;

  &.bar, &.cell, &.arc, &.card {
    &:hover {
      opacity: 0.8;
    }
  }
  &.area {
    opacity: 0.6;
  }
  &.circle {
    &:hover {
      cursor: pointer;
    }
  }

  &.treemap {
    .cell {
      cursor: pointer;

      foreignObject {
        pointer-events: none;
      }
      p {
        text-align: center;
        pointer-events: none;
      }
    }
  }
}

.label {
  font-size: 12px;
  font-weight: normal;
}

.gridline-path {
  stroke: rgba(200, 200, 200, 0.3);
  stroke-width: 0.5;
  fill: none;
}

.gridline-path-shadow {
  stroke: rgba(0, 0, 0, 1);
}

.a2d3-container {
  height: 100%;

  .status-message {
    font-size: 14px;
    text-align: center;
    position: relative;
    top: 43%;
    color: #999;
  }

  .icon-loading {
    color: #999;
    font-size: 32px;
  }
}

.mini-chart {
  transform: scale(0.25, 0.25);
  transform-origin: 100% 100%;
  position: fixed;
  width: 600px;
  height: 430px;
  z-index: 1000;
  opacity: 0.7;
  right: 25px;
  bottom: 50px;
  background: #21292C;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  .stats-chart-container {
    pointer-events: none;
  }
}

// Animations
.mini-chart.ng-enter, .mini-chart.ng-leave {
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.mini-chart.ng-enter {
  bottom: -100%;
}

.mini-chart.ng-leave.ng-leave-active {
  bottom: -100%;
}

.mini-chart.ng-leave {
  bottom: 60px;
}

.mini-chart.ng-enter.ng-enter-active {
  bottom: 60px;
}

.brush {
  .background {
    visibility: visible !important;
    fill: rgba(255, 255, 255, 0.03);
  }
  .extent {
    stroke: none;
    fill-opacity: .3;
    shape-rendering: 'crispEdges';
  }
}

.legend {
  display: inline-block;
  float: left;

  .legend-title {
    color: #76818a;
    margin-left: 10px;
    margin-bottom: 5px;
  }

  ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .legend-wrap {
    width: 90%;
  }
  .legend-labels {
    line-height: 85%;
    list-style: none;
    text-align: left;
    float: left;
    width: 100%;
    border-radius: 3px;
  }

  .legend-label {
    cursor: pointer;
    font-size: 90%;
    margin: 8px;
    color: #76818a;

    &.active {
      color: #FFF;
    }
  }

  .legend-label-color {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 5px;
    color: #5b646b;
    border-radius: 3px;
  }

  .legend-label-text {
    display: inline-block;
    vertical-align: top;
    line-height: 15px;
    font-size: 12px;
  }

  .legend-icon {
    color: #4d9df6;
    margin-right: 5px;
  }

  .legend-title-text {
    vertical-align: bottom;
    display: inline-block;
    line-height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80%;
  }
}

.advanced-pie-legend {
  color: white;
  .total-value {
    font-size: 48px
  }
  .total-label {
    font-size: 32px;
    margin-bottom: 19px;
    margin-top: -18px;
  }

  .legend-items-container {
    width: 100%;

    .legend-items {
      white-space: nowrap;
      overflow: auto;

      .legend-item {
        margin-right: 20px;
        display: inline-block;

        .item-value {
          font-size: 32px;
          margin-top: -6px;
          margin-left: 11px;
        }

        .item-label {
          font-size: 12px;
          opacity: 0.7;
          margin-left: 11px;
          margin-top: -6px;
        }

        .item-percent {
          font-size: 24px;
          opacity: 0.7;
          margin-left: 11px;
        }

        .item-color {
          width: 4px;
          height: 32px;
          float: left;
          margin-right: 7px;
        }
      }
    }
  }
}
