@import "./common/tooltip/tooltip";

.ng2d3 {
  float: left;

  .bar,
  .cell,
  .arc,
  .card {
    &:hover {
      opacity: 0.8;
    }
  }

  .area {
    opacity: 0.6;
  }

  .circle {
    &:hover {
      cursor: pointer;
    }
  }

  .tree-map {
    .label p {
      display: table-cell;
      text-align: center;
      line-height: 1.2em;
      vertical-align: middle;
    }
  }
}

.label {
  font-size: 12px;
  font-weight: normal;
}

.gridline-path {
  stroke: rgba(200, 200, 200, 0.3);
  stroke-width: 0.5;
  fill: none;
}

.gridline-path-shadow {
  stroke: rgba(0, 0, 0, 1);
}

.a2d3-container {
  height: 100%;

  .status-message {
    font-size: 14px;
    text-align: center;
    position: relative;
    top: 43%;
    color: #999;
  }

  .icon-loading {
    color: #999;
    font-size: 32px;
  }
}

.brush {
  .overlay {
    fill: rgba(0, 0, 0, 0.07);
  }

  .selection {
    stroke: none;
    fill-opacity: .3;
    shape-rendering: 'crispEdges';
  }

  .handle {
    fill: #3f51b5;
  }
}

.tooltip-item{
  text-align: left;
  line-height: 1.2em;

  .tooltip-item-color {
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 5px;
    color: #5b646b;
    border-radius: 3px;
  }
}

.legend {
  display: inline-block;
  padding: 0;

  .legend-title {
    color: #76818a;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
  }

  ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .legend-wrap {
    width: 90%;
  }

  .legend-labels {
    line-height: 85%;
    list-style: none;
    text-align: left;
    float: left;
    width: 100%;
    border-radius: 3px;
  }

  .legend-label {
    cursor: pointer;
    font-size: 90%;
    margin: 8px;
    color: #76818a;

    &.active {
      color: #FFF;
    }
  }

  .legend-label-color {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 5px;
    color: #5b646b;
    border-radius: 3px;
  }

  .legend-label-text {
    display: inline-block;
    vertical-align: top;
    line-height: 15px;
    font-size: 12px;
  }

  .legend-icon {
    color: #4d9df6;
    margin-right: 5px;
  }

  .legend-title-text {
    vertical-align: bottom;
    display: inline-block;
    line-height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.advanced-pie {
  float: left;
}

.advanced-pie-legend {
  float: left;

  .total-value {
    font-size: 36px
  }

  .total-label {
    font-size: 24px;
    margin-bottom: 19px;
  }

  .legend-items-container {
    width: 100%;

    .legend-items {
      white-space: nowrap;
      overflow: auto;

      .legend-item {
        margin-right: 20px;
        display: inline-block;

        .item-value {
          font-size: 24px;
          margin-top: -6px;
          margin-left: 11px;
        }

        .item-label {
          font-size: 12px;
          opacity: 0.7;
          margin-left: 11px;
          margin-top: -6px;
        }

        .item-percent {
          font-size: 24px;
          opacity: 0.7;
          margin-left: 11px;
        }

        .item-color {
          width: 4px;
          height: 32px;
          float: left;
          margin-right: 7px;
        }
      }
    }
  }
}
