<div class='viz-container'>
  <div ng-if="statusMessage" class="status-message">
    <div ng-if="statusMessage == 'Loading'" div class="loading"><span class="icon-loading"></span></div>
    {{statusMessage}}
  </div>

  <div ng-switch="vizType" ng-if="!statusMessage">
    <bar-vertical
      ngSwitchWhen="BarVertical"
      [view]="view"
      (clickHandler)="pointClick($event)"
      [results]="results"
      [scheme]="statsReport.report.chartOptions.colorScheme"
      [customColors]="statsReport.report.chartOptions.colorMap"
      [legend]="statsReport.report.chartOptions.showLegend && !miniChart"
      [xAxis]="statsReport.report.chartOptions.showXAxis"
      [yAxis]="statsReport.report.chartOptions.showYAxis"
      [showXAxisLabel]="statsReport.report.chartOptions.showXAxisLabel"
      [showYAxisLabel]="statsReport.report.chartOptions.showYAxisLabel"
      [xAxisLabel]="statsReport.report.chartOptions.xAxisLabelText"
      [yAxisLabel]="statsReport.report.chartOptions.yAxisLabelText">
    </bar-vertical>

    <bar-vertical-2-d
      ngSwitchWhen="BarVertical2D"
      [view]="view"
      (clickHandler)="pointClick($event)"
      [results]="results"
      [scheme]="statsReport.report.chartOptions.colorScheme"
      [customColors]="statsReport.report.chartOptions.colorMap"
      [legend]="statsReport.report.chartOptions.showLegend && !miniChart"
      [xAxis]="statsReport.report.chartOptions.showXAxis"
      [yAxis]="statsReport.report.chartOptions.showYAxis"
      [showXAxisLabel]="statsReport.report.chartOptions.showXAxisLabel"
      [showYAxisLabel]="statsReport.report.chartOptions.showYAxisLabel"
      [xAxisLabel]="statsReport.report.chartOptions.xAxisLabelText"
      [yAxisLabel]="statsReport.report.chartOptions.yAxisLabelText">
    </bar-vertical-2-d>

    <bar-vertical-stacked
      ngSwitchWhen="BarVerticalStacked"
      [view]="view"
      (clickHandler)="pointClick($event)"
      [results]="results"
      [scheme]="statsReport.report.chartOptions.colorScheme"
      [customColors]="statsReport.report.chartOptions.colorMap"
      [legend]="statsReport.report.chartOptions.showLegend && !miniChart"
      [xAxis]="statsReport.report.chartOptions.showXAxis"
      [yAxis]="statsReport.report.chartOptions.showYAxis"
      [showXAxisLabel]="statsReport.report.chartOptions.showXAxisLabel"
      [showYAxisLabel]="statsReport.report.chartOptions.showYAxisLabel"
      [xAxisLabel]="statsReport.report.chartOptions.xAxisLabelText"
      [yAxisLabel]="statsReport.report.chartOptions.yAxisLabelText">
    </bar-vertical-stacked>

    <bar-vertical-normalized
      ngSwitchWhen="BarVerticalNormalized"
      [view]="view"
      (clickHandler)="pointClick($event)"
      [results]="results"
      [scheme]="statsReport.report.chartOptions.colorScheme"
      [customColors]="statsReport.report.chartOptions.colorMap"
      [legend]="statsReport.report.chartOptions.showLegend && !miniChart"
      [xAxis]="statsReport.report.chartOptions.showXAxis"
      [yAxis]="statsReport.report.chartOptions.showYAxis"
      [showXAxisLabel]="statsReport.report.chartOptions.showXAxisLabel"
      [showYAxisLabel]="statsReport.report.chartOptions.showYAxisLabel"
      [xAxisLabel]="statsReport.report.chartOptions.xAxisLabelText"
      [yAxisLabel]="statsReport.report.chartOptions.yAxisLabelText">
    </bar-vertical-normalized>

    <bar-horizontal
      ngSwitchWhen="BarHorizontal"
      [view]="view"
      (clickHandler)="pointClick($event)"
      [results]="results"
      [scheme]="statsReport.report.chartOptions.colorScheme"
      [customColors]="statsReport.report.chartOptions.colorMap"
      [legend]="statsReport.report.chartOptions.showLegend && !miniChart"
      [xAxis]="statsReport.report.chartOptions.showXAxis"
      [yAxis]="statsReport.report.chartOptions.showYAxis"
      [showXAxisLabel]="statsReport.report.chartOptions.showXAxisLabel"
      [showYAxisLabel]="statsReport.report.chartOptions.showYAxisLabel"
      [xAxisLabel]="statsReport.report.chartOptions.xAxisLabelText"
      [yAxisLabel]="statsReport.report.chartOptions.yAxisLabelText">
    </bar-horizontal>

    <bar-horizontal-2-d
      ngSwitchWhen="BarHorizontal2D"
      [view]="view"
      (clickHandler)="pointClick($event)"
      [results]="results"
      [scheme]="statsReport.report.chartOptions.colorScheme"
      [customColors]="statsReport.report.chartOptions.colorMap"
      [legend]="statsReport.report.chartOptions.showLegend && !miniChart"
      [xAxis]="statsReport.report.chartOptions.showXAxis"
      [yAxis]="statsReport.report.chartOptions.showYAxis"
      [showXAxisLabel]="statsReport.report.chartOptions.showXAxisLabel"
      [showYAxisLabel]="statsReport.report.chartOptions.showYAxisLabel"
      [xAxisLabel]="statsReport.report.chartOptions.xAxisLabelText"
      [yAxisLabel]="statsReport.report.chartOptions.yAxisLabelText">
    </bar-horizontal-2-d>

    <bar-horizontal-stacked
      ngSwitchWhen="BarHorizontalStacked"
      [view]="view"
      (clickHandler)="pointClick($event)"
      [results]="results"
      [scheme]="statsReport.report.chartOptions.colorScheme"
      [customColors]="statsReport.report.chartOptions.colorMap"
      [legend]="statsReport.report.chartOptions.showLegend && !miniChart"
      [xAxis]="statsReport.report.chartOptions.showXAxis"
      [yAxis]="statsReport.report.chartOptions.showYAxis"
      [showXAxisLabel]="statsReport.report.chartOptions.showXAxisLabel"
      [showYAxisLabel]="statsReport.report.chartOptions.showYAxisLabel"
      [xAxisLabel]="statsReport.report.chartOptions.xAxisLabelText"
      [yAxisLabel]="statsReport.report.chartOptions.yAxisLabelText">
    </bar-horizontal-stacked>

    <bar-horizontal-normalized
      ngSwitchWhen="BarHorizontalNormalized"
      [view]="view"
      (clickHandler)="pointClick($event)"
      [results]="results"
      [scheme]="statsReport.report.chartOptions.colorScheme"
      [customColors]="statsReport.report.chartOptions.colorMap"
      [legend]="statsReport.report.chartOptions.showLegend && !miniChart"
      [xAxis]="statsReport.report.chartOptions.showXAxis"
      [yAxis]="statsReport.report.chartOptions.showYAxis"
      [showXAxisLabel]="statsReport.report.chartOptions.showXAxisLabel"
      [showYAxisLabel]="statsReport.report.chartOptions.showYAxisLabel"
      [xAxisLabel]="statsReport.report.chartOptions.xAxisLabelText"
      [yAxisLabel]="statsReport.report.chartOptions.yAxisLabelText">
    </bar-horizontal-normalized>

    <line-chart
      ngSwitchWhen="LineChart"
      [view]="view"
      (clickHandler)="pointClick($event)"
      [results]="results"
      [scheme]="statsReport.report.chartOptions.colorScheme"
      [customColors]="statsReport.report.chartOptions.colorMap"
      [legend]="statsReport.report.chartOptions.showLegend && !miniChart"
      [xAxis]="statsReport.report.chartOptions.showXAxis"
      [yAxis]="statsReport.report.chartOptions.showYAxis"
      [showXAxisLabel]="statsReport.report.chartOptions.showXAxisLabel"
      [showYAxisLabel]="statsReport.report.chartOptions.showYAxisLabel"
      [xAxisLabel]="statsReport.report.chartOptions.xAxisLabelText"
      [yAxisLabel]="statsReport.report.chartOptions.yAxisLabelText"
      [auto-scale]="statsReport.report.chartOptions.autoScale"
      [timeline]="statsReport.report.chartOptions.zoom">
    </line-chart>

    <line-chart-2-d
      ngSwitchWhen="LineChart2D"
      [view]="view"
      (clickHandler)="pointClick($event)"
      [results]="results"
      [scheme]="statsReport.report.chartOptions.colorScheme"
      [customColors]="statsReport.report.chartOptions.colorMap"
      [legend]="statsReport.report.chartOptions.showLegend && !miniChart"
      [xAxis]="statsReport.report.chartOptions.showXAxis"
      [yAxis]="statsReport.report.chartOptions.showYAxis"
      [showXAxisLabel]="statsReport.report.chartOptions.showXAxisLabel"
      [showYAxisLabel]="statsReport.report.chartOptions.showYAxisLabel"
      [xAxisLabel]="statsReport.report.chartOptions.xAxisLabelText"
      [yAxisLabel]="statsReport.report.chartOptions.yAxisLabelText"
      [auto-scale]="statsReport.report.chartOptions.autoScale"
      [timeline]="statsReport.report.chartOptions.zoom">
    </line-chart-2-d>

    <area-chart
      ngSwitchWhen="AreaChart"
      [view]="view"
      (clickHandler)="pointClick($event)"
      [results]="results"
      [scheme]="statsReport.report.chartOptions.colorScheme"
      [customColors]="statsReport.report.chartOptions.colorMap"
      [legend]="statsReport.report.chartOptions.showLegend && !miniChart"
      [xAxis]="statsReport.report.chartOptions.showXAxis"
      [yAxis]="statsReport.report.chartOptions.showYAxis"
      [showXAxisLabel]="statsReport.report.chartOptions.showXAxisLabel"
      [showYAxisLabel]="statsReport.report.chartOptions.showYAxisLabel"
      [xAxisLabel]="statsReport.report.chartOptions.xAxisLabelText"
      [yAxisLabel]="statsReport.report.chartOptions.yAxisLabelText"
      [auto-scale]="statsReport.report.chartOptions.autoScale"
      [timeline]="statsReport.report.chartOptions.zoom">
    </area-chart>

    <area-chart-stacked
      ngSwitchWhen="AreaChartStacked"
      [view]="view"
      (clickHandler)="pointClick($event)"
      [results]="results"
      [scheme]="statsReport.report.chartOptions.colorScheme"
      [customColors]="statsReport.report.chartOptions.colorMap"
      [legend]="statsReport.report.chartOptions.showLegend && !miniChart"
      [xAxis]="statsReport.report.chartOptions.showXAxis"
      [yAxis]="statsReport.report.chartOptions.showYAxis"
      [showXAxisLabel]="statsReport.report.chartOptions.showXAxisLabel"
      [showYAxisLabel]="statsReport.report.chartOptions.showYAxisLabel"
      [xAxisLabel]="statsReport.report.chartOptions.xAxisLabelText"
      [yAxisLabel]="statsReport.report.chartOptions.yAxisLabelText"
      [timeline]="statsReport.report.chartOptions.zoom">
    </area-chart-stacked>

    <area-chart-normalized
      ngSwitchWhen="AreaChartNormalized"
      [view]="view"
      (clickHandler)="pointClick($event)"
      [results]="results"
      [scheme]="statsReport.report.chartOptions.colorScheme"
      [customColors]="statsReport.report.chartOptions.colorMap"
      [legend]="statsReport.report.chartOptions.showLegend && !miniChart"
      [xAxis]="statsReport.report.chartOptions.showXAxis"
      [yAxis]="statsReport.report.chartOptions.showYAxis"
      [showXAxisLabel]="statsReport.report.chartOptions.showXAxisLabel"
      [showYAxisLabel]="statsReport.report.chartOptions.showYAxisLabel"
      [xAxisLabel]="statsReport.report.chartOptions.xAxisLabelText"
      [yAxisLabel]="statsReport.report.chartOptions.yAxisLabelText"
      [timeline]="statsReport.report.chartOptions.zoom">
    </area-chart-normalized>

    <number-card
      ngSwitchWhen="NumberCard"
      [view]="view"
      (clickHandler)="pointClick($event)"
      [results]="results"
      [scheme]="statsReport.report.chartOptions.colorScheme"
      [customColors]="statsReport.report.chartOptions.colorMap"
      [legend]="statsReport.report.chartOptions.showLegend && !miniChart">
    </number-card>

    <heat-map
      ngSwitchWhen="HeatMap"
      [view]="view"
      (clickHandler)="pointClick($event)"
      [results]="results"
      [scheme]="statsReport.report.chartOptions.colorScheme"
      [customColors]="statsReport.report.chartOptions.colorMap"
      [legend]="statsReport.report.chartOptions.showLegend && !miniChart"
      [xAxis]="statsReport.report.chartOptions.showXAxis"
      [yAxis]="statsReport.report.chartOptions.showYAxis"
      [showXAxisLabel]="statsReport.report.chartOptions.showXAxisLabel"
      [showYAxisLabel]="statsReport.report.chartOptions.showYAxisLabel"
      [xAxisLabel]="statsReport.report.chartOptions.xAxisLabelText"
      [yAxisLabel]="statsReport.report.chartOptions.yAxisLabelText">
    </heat-map>

    <pie-chart
      ngSwitchWhen="PieChart"
      [view]="view"
      (clickHandler)="pointClick($event)"
      [doughnut]="false"
      [results]="results"
      [scheme]="statsReport.report.chartOptions.colorScheme"
      [customColors]="statsReport.report.chartOptions.colorMap"
      [labels]="statsReport.report.chartOptions.showLabels"
      [legend]="statsReport.report.chartOptions.showLegend && !miniChart"
      [explode-slices]="statsReport.report.chartOptions.explodeSlices">
    </pie-chart>

    <pie-chart
      ngSwitchWhen="DonutChart"
      [view]="view"
      (clickHandler)="pointClick($event)"
      [doughnut]="true"
      [results]="results"
      [scheme]="statsReport.report.chartOptions.colorScheme"
      [customColors]="statsReport.report.chartOptions.colorMap"
      [labels]="statsReport.report.chartOptions.showLabels"
      [legend]="statsReport.report.chartOptions.showLegend && !miniChart">
    </pie-chart>

    <pie-grid
      ngSwitchWhen="PieGrid"
      [view]="view"
      (clickHandler)="pointClick($event)"
      [results]="results"
      [scheme]="statsReport.report.chartOptions.colorScheme"
      [customColors]="statsReport.report.chartOptions.colorMap"
      [legend]="statsReport.report.chartOptions.showLegend && !miniChart">
    </pie-grid>

    <advanced-pie-chart
      ngSwitchWhen="AdvancedPieChart"
      [view]="view"
      (clickHandler)="pointClick($event)"
      [results]="results"
      [scheme]="statsReport.report.chartOptions.colorScheme"
      [customColors]="statsReport.report.chartOptions.colorMap">
    </advanced-pie-chart>

    <div ng-switch-default>
    </div>
  </div>
</div>
